/* .transaction_history {
    margin-top: 1000px;
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    text-align: right;
    letter-spacing: 1px;
} */


.transaction_history {
    color: black;
    width: 500px;
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center;
    margin: auto auto;
}

th {
    border: 2px solid grey;
    background-color: #00bcd4;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 0 5px 0;
}

 td {
    border: 1px solid grey;
    font-weight: 300;
    font-size: 13px;
    padding: 5px 0 5px 0;
}

tr:nth-child(even) {
     background-color: yellowgreen; 

} 